.modal-form input[type=text] {
    width: 200px;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px; 
}
.modal-form input[type=text]:hover {
    background-color: #f2f2f2;
}
.modal-form input[type=radio] {
    margin-left: 20px;
}
.modal-form input[type=text] {
    margin: 10px 0 10px 50px;
    width: 360px;
    border: 1px solid rgb(211, 211, 211);
}
.modal-form input[type=number] {
    width: 360px;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px; 
    margin: 10px 0 10px 50px;
    border: 1px solid rgb(211, 211, 211);
}
.modal-form input[type=date] {
    width: 360px;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px; 
    margin: 10px 0 10px 50px;
    border: 1px solid rgb(211, 211, 211);
}
.modal-form .required-asterisk {
    color: red;
    margin-left: 2px;
}