.modal-form {
  padding: 20px;
  font-size: 16px;
}

.modal-form Label {
  display: block;
  margin: 2px 0 2px 0;  
  color: #333;
}

.modal-form Input {
  width: 100%;
  height: 36px;  
  margin: 0 0 8px 0; 
  border-radius: 8px;
  padding: 0 12px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.modal-form Input:focus {
  border-color: #1890ff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.modal-form .radio-group {
  display: flex;
  align-items: center;
  margin: 5px 0 15px 0;
}

.modal-form Radio {
  margin-right: 8px;
}

.modal-form .radio-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.modal-form .required-asterisk {
  color: #ff4d4f;
  margin-right: 4px;
}