.user-container .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 0 10px;
}
.user-container.search-bar Input {
    flex: 1;
    height: 32px;
    border-radius: 10px;
    margin: 0 10px;
}
.user-container .card {
    background-color: white;
    border-radius: 25px;
}
.user-container .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.user-container button {
    background-color: #1677ff;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.user-container .delete-button {
    background-color: red;
    margin-left: 5px;
}
.user-container .delete-button:hover {
    background-color: rgb(255, 50, 50);
}
.user-container button:hover {
    background-color: #3388ff;
}
.user-container .search-bar button {
    display: inline;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
}

.user-container .add-btn {
    margin-right: auto;
    margin-left: 0;
}

.user-container .search-btn {
    width: 30px;
    height: 15px;
    margin-left: auto;
    margin-right: 0;
}
.user-container .search-bar .weui-input {
    width: 240px;
}
.user-container input[type=text] {
    background-color: #f2f2f2;
    border-radius: 10px;
    line-height: 30px;
}
.user-container input[type=text]:hover {
    background-color: #e6e6e6;  /* 比默认背景色稍深 */
    border: 1px solid #1677ff;  /* 添加蓝色边框 */
    transition: all 0.3s ease;  /* 添加平滑过渡效果 */
}
.user-container .required-asterisk {
    color: red;
    margin-left: 2px;
}